<!DOCTYPE html>
<html>
    <head>
        <title>Form app</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form>
            <p>
                <label>
                    Név:<br />
                    <input type="text" name="nev">
                </label>
            </p>
            <p>
                <label>
                    Életkor:<br />
                    <input type="number" name="eletkor">
                </label>
            </p>
            <p>
                <label>
                    <input type="submit" name="Elküld">
                </label>
            </p>
        </form>
        <p>
            Megadott adatok: <br>
            Név: <%= nev %> <br>
            Életkor: <%= eletkor %>
        </p>
    </body>
</html>